// ------------------ Variables ---------------------- //

$white: #FFFFFF;
$grey: rgba(0, 0, 0, 0.7);
$light_grey: rgba(0, 0, 0, 0.4);
$black: #000000;
$text_color: #666666;
$accent: #e1c184;
$accent_icon: #c99065;
$bg_color: #e5eaee;



// ------------------ General Styles ----------------- //

body {
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
}

.cf:before, 
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}


// ------------------ Header Styles ------------------ //

header {
	height: 450px;
	background: url(../images/hero-bg.jpg) center center;
	background-size: cover;
	.logo {
		height: 50px;
		width: 50px;
		float: left;
		margin: 10px 0 0 30px;
	}
	nav {
		float: right;
		margin: 30px 30px 0 0;
		a {
			text-decoration: none;
			display: inline-block;
			margin-left: 20px;
			color: $grey;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			&:hover {
				color: $black;
			}
		}
	}
	.title {
		font-size: 72px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		text-align: center;
		margin-bottom: 20px;
		padding-top: 100px;
		span {
			display: inline-block;
			padding: 0.2em 0.5em;
			border: $white solid 10px;
		}
	}

	.sub_title {
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: $white;
		line-height: 1;
	}
}


// ------------------ About Me Styles ------------------ //

h3 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: $accent;
	letter-spacing: 0.8px;
	text-align: center;
	padding: 100px 0 30px;
}

.face_lockup {
	max-width: 780px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;

	.face_img {
		width: 200px;
		height: 200px;
		background: url(../images/travitar.jpg);
		border-radius: 50%;
		order: 3;
	}
	.icon {
		width: 100px;
		height: 100px;
		background: $bg_color;
		border-radius: 50%;
	}
	.icon_pencil {
			order: 1;
	}
	.icon_browser {
			order: 2;
	}
	.icon_mouse {
			order: 4;
	}
	.icon_video {
			order: 5;
	}
}

.blurb {
	max-width: 620px;
	padding: 0 15px;
	margin: 50px auto;
	font-size: 20px;
	text-align: center;
	font-weight: 300;
	line-height: 1.35;
}

.skill_lockup {
	max-width: 700px;
	margin: 100px auto;
	text-align: center;
	color: #999999;
	.skill_unit {
		width: 350px;
		float: left;
	}
	.skill_icons {
		font-size: 0;
		margin: 5px 0 30px;
		span {
			display: inline-block;
			width: 14px;
			height: 14px;
			background-color: $accent;
			margin-right: 5px;
			border-radius: 50%;
			&:after {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				background-color: $white;
				border-radius: 50%;
				margin: 2px;
			}
		}

		@for $i from 1 through 10 {
			&.skill_#{$i} span:nth-child(n+#{$i}) {
				background-color: $bg_color;
			}
		}
			
	}
}

// ------------------ Footer Styles ------------------ //

footer {
	background: url(../images/hero-bg.jpg) center center;
	background-size: cover;
	.lockup {
		padding: 50px 30px;
		.logo {
			height: 50px;
			width: 50px;
			float: left;
			margin-right: 30px;
		}
		.content_wrap {
			float: left;

			nav {
				a {
					display: inline-block;
					text-decoration: none;
					color: rgba(0, 0, 0, 0.5);
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					margin-left: 30px;
					&:nth-child(1) {
						margin-left: 0;
					}
					&:hover {
						color: $grey;
					}
				}
			}

			.copyright {
				margin: 0;
				padding-top: 5px;
				text-transform: uppercase;
				font-size: 12px;
				color: $light_grey;
			}
		}
	}
}

// ------------------ Media Quaries ------------------ //

@media screen and (max-width: 650px) {

	h3 {
		padding-top: 50px;
	}
	.face_lockup {
		display: block;
		text-align: center;

		div {
			display: inline-block;
		}

		.face_img {
			display: block;
			background-position: center center;
			background-repeat: no-repeat;
			width: auto;
			margin-bottom: 30px;
		}

		.icon {
			margin: 15px;
		}
	}

	.blurb {
		margin-top: 10px;
	}
}

@media screen and (max-width: 720px) {
	.skill_lockup {
		width: 270px;
		margin: 100px auto;
		text-align: center;
	}
}

